.horrible-text { color: rgb(184, 66, 121);
    background-color: lavenderblush;
    font-size: 6px;
    text-align: center;
    width: 1.25rem;
    height: 1.25rem;
    overflow: hidden;
    padding: 8px 16px;
    border: 1px;
    border-style: solid;
    border-color: lightyellow;
    border-radius: 4px;
    margin: 32px;
    font-family: "Jacquarda Bastarda 9";
 }
 h2 {
    font-family: "Jacquarda Bastarda 9";
    font-size: 36px;
    color: rgb(222, 157, 155);
    background-color: rgb(121, 113, 82);
     width: 100vw;
    height: 10.25rem;
    font-weight: 400
   
 }
 a {
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 200;
    color: rgb(222, 157, 155);
    text-decoration: none;
    cursor: pointer;
 }
 .footer {
    font-family: "Open Sans";
    font-size: 25px;
    font-weight: 200;
    color: rgb(222, 157, 155);
    text-decoration: none;
    cursor: pointer;

 }
 .footer2 {
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 200;
    color: rgb(222, 157, 155);
    text-decoration: none;
  

 }
 .header {
    
    background-color: rgb(121, 113, 82);
    width: 100vw;
   
 }
 .yellow {
  background-color: rgb(254, 248, 204); 
  width: 100vw;
 }
 .callbutton {
    color: rgb(187, 126, 124);
     background-color: rgb(225, 214, 173);
     background-position-y: center;
    width: 410px;
     height: 90px;
    font-family: "Open Sans";
    font-size: 40px;
    text-align: center;
    line-height: normal;
    overflow: hidden;
    border: 1px;
    border-style: solid;
    border-color: rgb(225, 214, 173);
    border-radius: 4px;
 }
 .bed {
   height: 619px;
   opacity: 0.55;
 }
 .me {
    height: 619px;
   
 }
 .Keeping {
    font-size: 36px;
    color: rgb(63, 60, 49);
    text-align: center;
 }
 .pagestext {
   font-family: "Montserrat";
   color: rgb(63, 60, 49); 
}
 .pic2 {
   width: 100vw; 

 }
 .bottom {
  text-align: center;  
 }
 .website {
    height: 619px;
    width: 800px;

 }

 p {
    font-family: "Montserrat";
    font-size: 48px;
    font-weight: 200;
    color: rgb(000, 000, 000);
    text-decoration: none;
    background-color: rgb(254, 248, 204);
 }
 i {
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 200;
    color: rgb(000, 000, 000);
    text-decoration: none;
 }
 p2 {
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 200;
    color: rgb(000, 000, 000);
    text-decoration: none;
 }
 h6 {
    font-family: "Jacquarda Bastarda 9";
    font-size: 36px;
    color: rgb(222, 157, 155);
    
 }
 
 h4:hover {
    cursor: pointer;
    
 }
 h4:active {
    cursor: pointer;
    background-color: pink;
 }
 h3:hover {
   background-color: rgb(121, 113, 82);
 }
a:hover {
   cursor: pointer;
   color: rgb(100, 51, 59) ;  
}
